---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Seite nicht gefunden">
    <hgroup class="my-5">
        <h1>404</h1>
        <p class="lead">Seite nicht gefunden</p>
    </hgroup>

    <p>
        Die angeforderte Seite unter der eingegebenen URL konnte auf dem Server nicht gefunden werden.
        Entweder sie ist nicht mehr verfügbar, oder die eingegebene URL ist nicht korrekt.
    </p>
</BaseLayout>