---
import '../styles/global.css'

const termine = await Astro.glob('../../termine/*.md')
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Grönauer Infos</title>
	</head>
	<body>
		<hgroup>
			<h1>Grönauer Infos</h1>
			<p>Was geht ab? Von und für Grönauer.</p>
		</hgroup>

		<nav>
			<ul>
				<li><a href="/">Startseite</a></li>
				<li><a href="/termine">Termine</a></li>
			</ul>
		</nav>

		<h2>Termine</h2>
		<ul>
			{termine.map(termin => (
				<li><a href="/">{termin.frontmatter.title}</a></li>
			))}
		</ul>
		<!-- <ul>
			<li>Termin 1</li>
			<li>Noch ein Termin</li>
		</ul> -->

	</body>
</html>
