---
import BaseLayout from '../layouts/BaseLayout.astro'
import TerminCard from '../components/TerminCard.astro'
import { getFilenameFromPath } from '../helpers'
import type { TerminFrontmatter } from '../types'

const termine = await Astro.glob<TerminFrontmatter>('../../termine/*.md')
---

<BaseLayout>
	<hgroup>
		<h1>Grönauer Infos</h1>
		<p>Was geht ab? Von und für Grönauer.</p>
	</hgroup>

	<nav>
		<ul>
			<li><a href="/">Startseite</a></li>
			<li><a href="/termine">Termine</a></li>
		</ul>
	</nav>

	<h2>Termine</h2>
	<ol>
		{termine.map(termin => (
			<li>
				<a href={`/termine/${getFilenameFromPath(termin.file)}`}>
					<TerminCard
						date={termin.frontmatter.date}
						title={termin.frontmatter.title}
						place={termin.frontmatter.place}
					/>
				</a>
			</li>
		))}
	</ol>
</BaseLayout>
