---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import EventCard from '../components/EventCard.astro';

const events = (await getCollection('termine'))
				.filter(event => new Date() <= new Date(event.data.date)
						&& new Date(event.data.date) <= new Date(Date.now() + ((1000 * 60 * 60 * 24) * 60)))
---

<BaseLayout>
	<div class="my-3 d-flex justify-content-between align-items-center">
		<hgroup class="text-center flex-grow-1">
			<h1 class="display-5 fw-bold">Grönauer Infos</h1>
			<p class="lead">Von und für Grönauer.</p>
		</hgroup>

		<iframe
			class="p-2 rounded-4"
			width="450"
			height="350"
			src="https://www.openstreetmap.org/export/embed.html?bbox=10.726518630981447%2C53.79725437139942%2C10.751237869262695%2C53.82758460006296&amp;layer=mapnik"
		/>
	</div>

	<article class="">
		<h2 class="">Anstehende Termine</h2>
		<ol data-masonry='{"percentPosition": true }' class="row p-0">
			{events.map(event => (
				<li class="col-sm-6 col-lg-4 md-4 my-2" style={{'listStyleType': 'none'}}>
					<EventCard event={event} />
				</li>
			))}
		</ol>
		<p class="">
			<a class="" href="/termine/">Alle kommenden Termine</a>
		</p>
	</article>
</BaseLayout>
