---
type Props = {
	categories: string[] | undefined;
	wrapperCSS?: string;
	badgeCSS?: string;
};

const { categories, wrapperCSS, badgeCSS } = Astro.props;
---

{
	categories && (
		<div class:list={[wrapperCSS]}>
			{categories.map((c) => (
				<span class:list={["badge text-bg-secondary", badgeCSS]}>
					{c}
				</span>
			))}
		</div>
	)
}
