---
import DateTime from './DateTime.astro'

const { date, dateEnd, time, timeEnd, title, place } = Astro.props
---

<article>
  <h3>{title}</h3>
  <DateTime date={date} dateEnd={dateEnd} { time } { timeEnd } />
  <p>{place}</p>
</article>