---
---

<footer class="container-fluid bg-body-tertiary">
    <p class="mb-0 pt-4 text-center fw-lighter">
        <small lang="en">Work in Progress. Made in Grönau.</small>
        <br />
        <small>Keine Cookies, kein Tracking.</small>
    </p>
    <p class="text-center">
        <small>
            <a href="/impressum" class="link-secondary link-opacity-50">Impressum</a>
        </small>
        {' '}
        <small>
            <a href="/impressum#datenschutz" class="link-secondary link-opacity-50">Datenschutz</a>
        </small>
    </p>
</footer>