---
---

<footer class="container-fluid bg-body-tertiary">
    <p class="mb-0 py-4 text-center fw-lighter">
        <small lang="en">Work in Progress. Made in Grönau.</small>
        <br />
        <small>Keine Cookies, kein Tracking.</small>
    </p>
</footer>