---
import '../../node_modules/ol/ol.css';

type Props = {
    lon: number,
    lat: number,
    zoom?: number,
    title?: string;
    wrapperCSS?: string;
    style?: any;
}

const { lon, lat, zoom, title, wrapperCSS, style } = Astro.props;
---

<div
    id="map"
    class={wrapperCSS}
    {style}
></div>


<script define:vars={{ lon, lat, zoom }}>
  window.lon = lon;
  window.lat = lat;
  window.zoom = zoom ?? 13;
</script>

<script>
  import { Map, View } from 'ol';
  import OSM from 'ol/source/OSM';
  import TileLayer from 'ol/layer/WebGLTile';
  import { fromLonLat } from 'ol/proj';

  new Map({
    target: 'map',
    layers: [
    new TileLayer({
        source: new OSM({
          attributions: '© <a href="https://www.openstreetmap.org/copyright">OSM contributors</a>'
        })
      }),
    ],
    view: new View({
      center: fromLonLat([(window as any).lon, (window as any).lat]),
      zoom: (window as any).zoom,
    }),
  });
</script>

<style>
  #map {
    min-height: 350px;
  }
</style>