---
import DateTime from './DateTime.astro'

const { termin } = Astro.props
---

<article>
  <h1>{termin.title}</h1>
  <dl>
    <dt>Datum</dt>
    <dd><DateTime dateString={termin.date} /></dd>
    <dt>Ort</dt>
    <dd>{termin.place}</dd>
  </dl>
</article>