---
import BaseLayout from '../../layouts/BaseLayout.astro'
import EventCard from '../../components/EventCard.astro'
import { getFilenameFromPath } from '../../helpers'
import type { EventFrontmatter } from '../../types'

const event = await Astro.glob<EventFrontmatter>('../../../termine/*.md')
const upcomingEvents = event.filter(event => new Date() <= new Date(event.frontmatter.date))
---

<BaseLayout>
  <h2>Kommende Termine</h2>
  {upcomingEvents.length > 0 ? (
    <ol>
      {upcomingEvents.map(termin => (
        <li>
          <a href={`/termine/${getFilenameFromPath(termin.file)}`}>
            <EventCard
              date={termin.frontmatter.date}
              title={termin.frontmatter.title}
              place={termin.frontmatter.place}
            />
          </a>
        </li>
      ))}
    </ol>
  )
  :
  <p>nix los in Grönau 🫥</p>}
</BaseLayout>
